<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>map</title>
</head>
<body>

<div>
    <label>
        <input type="text" id="inpText" placeholder="입력하세요">
    </label>
    <button type="button" id="searchButton">검색</button>
</div>
<div>
    <div th:if="${data == null}">
        <p>정보가 없습니다.</p>
    </div>
    <div th:unless="${data == null}">
    <table>
        <thead>
        <tr>
            <th>주소</th>
            <th>상세보기</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${data}">
            <td th:text="${item.address_name}">주소 이름</td>
            <td>
                <button type="button" th:onclick="'makeMap(' + ${item.x} + ',' + ${item.y} + ');'">상세보기</button>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
<div id="map" style="width:750px;height:350px;"></div>

<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=39bcf355054a8647d859b444a55e2f0e"></script>
<script>

    document.getElementById('searchButton').addEventListener('click', function () {
        const inp = document.getElementById('inpText').value;

        console.log("inpText : " + inp);

        fetch('/getJson', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/text'
            },
            body: inp
        })
            // .then(response => response.text())
            // .then(data => {
            //     console.log(data);
            //     if(data === 'ok'){
            //         window.location.reload();
            //     }
            // })
            .catch(error => {
                console.error('Error', error);
            });
    })

    function makeMap(x, y) {
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(x, y), // 지도의 중심좌표
                level: 3, // 지도의 확대 레벨
                mapTypeId: kakao.maps.MapTypeId.ROADMAP // 지도종류
            };
        // 지도를 생성한다
        var map = new kakao.maps.Map(mapContainer, mapOption);
        // 마우스 드래그와 모바일 터치를 이용한 지도 이동을 막는다
        map.setDraggable(false);
        // 마우스 휠과 모바일 터치를 이용한 지도 확대, 축소를 막는다
        map.setZoomable(false);
        // 지도에 마커를 생성하고 표시한다
        var marker = new kakao.maps.Marker({
            position: new kakao.maps.LatLng(x, y), // 마커의 좌표
            map: map // 마커를 표시할 지도 객체
        });
    }
</script>

<script>

</script>

</body>
</html>